.dTQAQF{
    display: none ;
}
.fieXk{
    
    display: block;
  margin-left: auto;
  margin-right: auto;
    
}
.eoNAOZ{
  
  /* width: 100%; */
  background-image: url("/images/dashboardImg.jpg");
  background-size: cover;
  width: 100%; 
  height: 100%; 
	
  /* Set up positioning */
  /* position: fixed; */

  

}