/* * {
    margin: 0;
    padding: 0;
  } */

  .pac--title {
    color: #0a4870;
    margin: 0;
    padding: 0;
    font-weight: 500;
  }

  .pac--ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    width: 100%;
    padding: 0;
  }
  .pac--ul .booking-card {
    position: relative;
    display: flex;
    flex-direction: column;
    /*margin: 2rem 16px;
    */margin-bottom: 30px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    overflow: hidden;
    background-position: center center;
    background-size: cover;
    text-align: center;
    color: #0a4870;
    transition: 0.3s;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.pac--ul .booking-card{
  position: relative;
    width: 95%;
    margin:1rem;
    /* padding-right: .75rem;
    padding-left: .75rem; */
}



@media (min-width: 600px)
{
.pac--ul .booking-card {
    -ms-flex: 0 0 50%;
    max-width: 46%;
    margin: 2%;
}
}

@media (min-width: 992px)
{
.pac--ul .booking-card{
  -ms-flex: 0 0 33.33%;
  flex: 0 0 33.33%;
  max-width: 31%;
  margin: 1%;
}
}

@media (min-width: 1200px)
{
.pac--ul .booking-card{
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 23%;
  margin: 1%;
}
}


  .pac--ul .booking-card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(10, 72, 112, 0);
    transition: 0.3s;
  }
  .pac--ul .booking-card .book-container {
    height: 156px;
  }
  .pac--ul .booking-card .book-container .content {
    position: relative;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    transform: translateY(-200px);
    transition: 0.3s;
    -webkit-transform: translateY(-200px);
    -moz-transform: translateY(-200px);
    -ms-transform: translateY(-200px);
    -o-transform: translateY(-200px);
}
  

  .pac--ul .booking-card .informations-container {
    flex: 1 0 auto;
    padding: 20px 20px 0 20px;
    background: #f0f0f0;
    transform: translateY(25px);
    transition: 0.3s;
    -webkit-transform: translateY(25px);
    -moz-transform: translateY(25px);
    -ms-transform: translateY(25px);
    -o-transform: translateY(25px);
}
  .pac--title {
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 1.2em;
  }
  .pac--title::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 3px;
    width: 50px;
    margin: auto;
    background: #0a4870;
  }

  .pac--ul .booking-card .informations-container{
    margin:0;
  }

  .pac--ul .booking-card .informations-container .pac--price {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
  }
  .pac--ul .booking-card .informations-container .pac--price .icon {
    padding: 0;
    margin-right: 10px;
  }
  .pac--ul .booking-card .informations-container .pac--more-information {
    opacity: 0;
    transition: 0.3s;
  }
  .pac--ul .booking-card .informations-container .pac--more-information .info-and-date-container {
    display: flex;
  }
  .pac--ul .booking-card .informations-container .pac--more-information .info-and-date-container .box {
    flex: 1 0;
    padding: 0;
    padding: 15px;
    margin-top: 20px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background: white;
    font-weight: bold;
    font-size: 0.9em;
  }
  .pac--ul .booking-card .informations-container .pac--more-information .info-and-date-container .box .icon {
    margin-bottom: 5px;
  }

  .pac--ul .booking-card .informations-container .pac--more-information .info-and-date-container .box p{
    margin:0;
    padding:0;
  }
  .pac--ul .booking-card .informations-container .pac--more-information .info-and-date-container .box.info {
    color: #ec992c;
    margin-right: 10px;
  }
  .pac--ul .booking-card .informations-container .pac--more-information .disclaimer {
    margin-top: 20px;
    font-size: 0.8em;
    color: #7d7d7d;
  }
  .pac--ul .booking-card:hover::before {
    background: rgba(10, 72, 112, 0.6);
  }
  .pac--ul .booking-card:hover .book-container .content {
    opacity: 1;
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
}
  .pac--ul .booking-card:hover .informations-container {
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
}
  .pac--ul .booking-card:hover .informations-container .pac--more-information {
    opacity: 1;
  }


  .credits {
    display: table;
    background: #0a4870;
    color: white;
    line-height: 25px;
    margin: 10px auto;
    padding: 20px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    text-align: center;
  }
  .credits a {
    color: #e3ebf1;
  }
  h1 {
    margin: 10px 20px;
  }
  .pac--btnn {
    font-weight: bold;
    font-size: 1.3em !important;
    cursor: pointer;
    --offset: 10px;
    --border-size: 2px;
    display: block;
    position: relative;
    padding: .5em 2.5em;
    appearance: none;
    border: 0;
    background: transparent;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.25em;
    outline: none;
    cursor: pointer;
    border-radius: 0;
    box-shadow: inset 0 0 0 var(--border-size) currentcolor;
    transition: background 0.8s ease;
    -webkit-transition: background 0.8s ease;
    -moz-transition: background 0.8s ease;
    -ms-transition: background 0.8s ease;
    -o-transition: background 0.8s ease;
  }

  .pac--btnn:hover {
    background: white;
    border: 0px solid white;
    color: #0a4870;
  }
  .button__horizontal, .button__vertical { position: absolute; top: var(--horizontal-offset, 0); right: var(--vertical-offset, 0); bottom: var(--horizontal-offset, 0); left: var(--vertical-offset, 0); transition: transform 0.8s ease; will-change: transform; -webkit-transition: transform 0.8s ease; -moz-transition: transform 0.8s ease; -ms-transition: transform 0.8s ease; -o-transition: transform 0.8s ease;
  }
  .button__horizontal::before, .button__vertical::before {
  content: '';
  position: absolute;
  border: inherit;
  }
  .button__horizontal {
  --vertical-offset: calc(var(--offset) * -1);
  border-top: var(--border-size) solid currentcolor;
  border-bottom: var(--border-size) solid currentcolor;
  }
  .button__horizontal::before {
  top: calc(var(--vertical-offset) - var(--border-size));
  bottom: calc(var(--vertical-offset) - var(--border-size));
  left: calc(var(--vertical-offset) * -1);
  right: calc(var(--vertical-offset) * -1);
  }
  .pac--btnn:hover .button__horizontal {
  transform: scaleX(0);
  }
  .button__vertical {
  --horizontal-offset: calc(var(--offset) * -1);
  border-left: var(--border-size) solid currentcolor;
  border-right: var(--border-size) solid currentcolor;
  }
  .button__vertical::before {
  top: calc(var(--horizontal-offset) * -1);
  bottom: calc(var(--horizontal-offset) * -1);
  left: calc(var(--horizontal-offset) - var(--border-size));
  right: calc(var(--horizontal-offset) - var(--border-size));
  }

  .pac--sub-title{
    margin: 0;
    padding: 0;
  }

  .pac--price{
    margin: 0;
    padding: 0;
  }

  .pac--btnn:hover .button__vertical {
    transform: scaleY(0);
    }

    /* @media (max-width:1335px)
    {
      .booking-card
      {
        margin: 2rem 18px !important;
      }
    }

    @media (max-width:1318px)
    {
      .pac--ul
      {
        margin: 1rem 6rem !important;
      }
    }

    @media (max-width:1218px)
    {
      .pac--ul
      {
        margin: 1rem !important;
      }
    } */

    .booking-card
    {
      margin-bottom: 2rem !important;
    }

/* ================================= */

.pagi-hd{
  display: flex;
  justify-content:center;
  align-items: center;
}

.pagi{
  position: relative;
  background: #fff;
  display: flex;
  width: fit-content;
  padding: 10px 20px;
  border-radius:50px;
  box-shadow: 0 5px 15px rgb(0,0,0,.2);
}

.pagi li{
  list-style: none;
  line-height: 50px;
  margin: 0 5px;
}

@media (max-width:400px)
{
  .pagi li{
    margin: 0px;
  }
}

.pagi li.pageNumber{
  height: 50px;
  width: 50px;
  line-height: 50px;
  text-align: center;
}

.pagi li a{
  display: block;
  text-decoration: none;
  color: #777;
  font-weight: 600;
  border-radius: 50%;
}

.pagi li.pageNumber:hover a,.pagi li.pageNumber:focus a,.pagi li.pageNumber.active a{
  background: #333;
  color: #fff;
}

.prev{
  margin-right: 30px;
  font-weight: 700;
  font-size: 20px;
}

.next{
  margin-left: 30px;
  font-weight: 700;
  font-size: 20px;
}