strong {
	font-weight: bold;
}

#hotels{
    width: 100%;
}

em {
	font-style: italic;
}

.table{
	color:#000;
}

.table--heading{
    font-size: 1rem;
    margin-bottom: 1.3rem;
    background: #fff;
    border: 1px solid #ededed;
    padding: 20px;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #e3e6f0;
    border-radius: .35rem;
    -webkit-border-radius: .35rem;
    -moz-border-radius: .35rem;
    -ms-border-radius: .35rem;
    -o-border-radius: .35rem;
}

.fa-plus:before{
	cursor:pointer;
}

.fa-minus:before{
	cursor:pointer;
}

th {
	color:#000;
	background: #e9ecef !important;
  	font-weight: 300;
	padding: 10px 15px;
	position: relative;
	box-shadow: none !important;
	border:none !important;
}

.hotel--icon{
	color:#000;
	padding:10px;
}

.hotel--icon i{
	padding:5px;
}

th:after {
	content: '';
	display: block;
	height: 25%;
	left: 0;
	margin: 1px 0 0 0;
	position: absolute;
	top: 25%;
	width: 100%;
}

th:first-child {
	border-left: 1px solid #000;
}

th:last-child {
	box-shadow: inset -1px 1px 0 #999;
}

@media all and (max-width:500px)
{
	.hotel--icon{
		padding:0;
	}
}

@media all and (max-width:500px)
{
	.hotel--icon i{
		padding:0;
	}
}

td {
	border-right: 1px solid #fff;
	border-left: 1px solid #e8e8e8;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #e8e8e8;
	padding: 10px 15px;
	position: relative;
	transition: all 300ms;
	-webkit-transition: all 300ms;
	-moz-transition: all 300ms;
	-ms-transition: all 300ms;
	-o-transition: all 300ms;
}

td:first-child {
	box-shadow: inset 1px 0 0 #fff;
}

td:last-child {
	border-right: 1px solid #e8e8e8;
	box-shadow: inset -1px 0 0 #fff;
}

tr {
	background: url(https://jackrugile.com/images/misc/noise-diagonal.png);
}

tr:nth-child(odd) td {
	background: #f1f1f1 url(https://jackrugile.com/images/misc/noise-diagonal.png);
}

tr:last-of-type td {
	box-shadow: inset 0 -1px 0 #fff;
}

tr:last-of-type td:first-child {
	box-shadow: inset 1px -1px 0 #fff;
}

tr:last-of-type td:last-child {
	box-shadow: inset -1px -1px 0 #fff;
}

tbody:hover td {
	color: transparent;
	text-shadow: 0 0 3px #aaa;
}

tbody:hover tr:hover td {
	color: #444;
	text-shadow: 0 1px 0 #fff;
}