.theme-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition:all .3s;
  -webkit-transition:all .3s;
  -moz-transition:all .3s;
  -ms-transition:all .3s;
  -o-transition:all .3s;
  margin-bottom: 1.5rem;
}

.theme-card{
  height: 100%;
  width: 100%;
  background: white;
  transition: all .5s;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -ms-transition: all .5s;
  -o-transition: all .5s;
}

.theme-container:hover{
  transform:translateY(-1rem);
  -webkit-transform:translateY(-1rem);
  -moz-transform:translateY(-1rem);
  -ms-transform:translateY(-1rem);
  -o-transform:translateY(-1rem);
}

.theme-card:hover{
  height:auto;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
}
.theme-card .img{
  height: 200px;
  width: 100%;
}
.theme-card .img img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.theme-card .top-text{
  padding: 5px;
}
.theme-card .top-text .name{
  font-size: 25px;
  font-weight: 600;
  color: #202020;
}
.theme-card .top-text p{
  font-size: 20px;
  font-weight: 600;
  color: #e74c3c;
  line-height: 20px;
}
.theme-card .bottom-text{
  padding: 0 20px 10px 20px;
  margin-top: 5px;
  display:none;
  background: white;
  opacity: 0;
  visibility: hidden;
  transition: 0.1s;
}
.theme-card:hover .bottom-text{
  opacity: 1;
  display: inherit;
  visibility: visible;
}
.theme-card .bottom-text .text{
  text-align: justify;
}
.theme-card .bottom-text .btn{
  margin: 10px 0;
  float: right;
  text-align: left;
}
.theme-card .bottom-text .btn a{
  text-decoration: none;
  background: #e74c3c;
  color: #f2f2f2;
  padding: 5px 8px;
  border-radius: 3px;
  display: inline-flex;
  transition: 0.2s;
}
.theme-card .bottom-text .btn a:hover{
  transform: scale(0.9);
}
@media screen and (max-width: 978px) {
  .theme-container{
    flex-wrap: wrap;
    flex-direction: column;
  }
  .theme-card{
    max-width: 700px;
    margin: 20px 0;
  }
}

/* ------------------------------ */

html{
    scrollbar-color: #1ce37c #00000080;
}


/* ------------------------------ */

.thm-col-md-3{
  position: relative;
    width: 100%;
    padding-right: .75rem;
    padding-left: .75rem;
}



@media (min-width: 600px)
{
.thm-col-md-3 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}
}

@media (min-width: 992px)
{
.thm-col-md-3{
  -ms-flex: 0 0 33.33%;
  flex: 0 0 33.33%;
  max-width: 33.33%;
}
}

@media (min-width: 1200px)
{
.thm-col-md-3{
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
}
}

/* @media (min-width: 768px)
{
.thm-col-md-3 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
} */