.box_detail {
    padding: 25px 25px 15px;
    border: 1px solid #ededed;
    background-color: #f8f8f8;
    border-radius: 5px;
    margin-bottom: 30px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

@media (max-width:600px)
{
  .pl-con
  {
    padding: 0 !important;
  }
}

.fl{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.react-tel-input .selected-flag .arrow{
  display: none;
}

.react-tel-input{
  width:unset !important
}

.react-tel-input .selected-flag{
  z-index: 1 !important;
  height: 100% !important;
}

.react-tel-input input[type='text'], .react-tel-input input[type='tel']{
  height: calc(1.5em + .75rem + 2px) !important;
}

.Package-right-side {
    margin: 0;
    padding: 0;
}

.form-control:focus{
  border-radius: 0 !important;
  box-shadow: none !important;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  -ms-border-radius: 0 !important;
  -o-border-radius: 0 !important;
  background:#fff !important;
}

.sidebar {
  width: 34.5rem !important;
  min-height: 100vh;
}

.Package-right-side p {
    text-transform: inherit !important;
    width: 100%;
    margin-top: 5px;
    font-size: 12px;
    margin-bottom: 5px;
}

.Package-right-side .line-1 {
    font-size: 14px;
    color: #CCC;
    margin: 0 0.2rem;
    vertical-align: middle;
}

.Package-right-side .margin-tag {
    margin: 1rem 0;
    padding: 0;
}

.Package-right-side .tags-link {
    margin: 0 0 0.1rem 0;
    padding: 0.2rem 1.rem;
    font-size: 11px;
    margin-right: 0.5rem !important;
}
.Package-right-side .tags-link {
    margin: 0 0 0.5rem 0;
    padding: 0.2rem 1rem;
    background: #f8c301;
    color: #111;
    display: inline-table;
    border-radius: 100px;
    font-size: 11px;
}

.box_detail .price {
    line-height: 1;
    border-bottom: 1px solid #ededed;
    margin: 0 -25px 25px;
    padding: 0 25px 15px;
}

ul.share-buttons {
    display: block;
    width: 100%;
    list-style: none;
}

@media (max-width: 600px)
{
  ul.share-buttons{
    padding:0;
  }
}

@media (max-width: 360px)
{
  .st-btn-whatsaap{
    width: 100% !important;
    margin-bottom: 1rem;
  }

  .st-btn-email{
    width: 100% !important;
    margin-bottom: 1rem;
    margin-left: 0 !important;
  }

  .st-btn-share{
    width: 100% !important;
    margin-bottom: 1rem;
    margin-left: 0 !important;
  }
}


#new {
    font-size: small;
}

.box_detail .price {
    line-height: 1;
    border-bottom: 1px solid #ededed;
    margin: 0 -25px 25px;
    padding: 0 25px 15px;
}

.tour-single-title{
  font-size: 2rem;
  text-align: center;
  margin-bottom:.5rem;
}

.box_detail .price>span {
    font-size: 31px;
    margin-top:.5rem;
    font-size: 1.5rem;
    font-weight: 600;
}

.box_detail .price>span>small {
    font-size: .6875rem;
    font-weight: 500;
}

#cal {
    width: 100%;
    padding: 10px;
    text-align: center;
}
#cal {
    width: 100%;
    padding: 0;
    margin-bottom: 10px;
}

.react-datepicker-wrapper{
  width: 100%;
}

::placeholder{color:#858796;opacity:1}

.form-control-_1 {
    display: block;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #6e707e;
    background-color: #fff;
    background-clip: padding-box;
    width: 100%;
    border: 1px solid #d1d3e2;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    -webkit-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    -moz-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    -ms-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    -o-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    -webkit-border-radius: .25rem;
    -moz-border-radius: .25rem;
    -ms-border-radius: .25rem;
    -o-border-radius: .25rem;
}
  
.travelerbox {
  border: 1px solid #cccccc;
  height: calc(1.5em + .75rem + 2px);
  padding: .675rem .75rem;
  display: inline-block;
  width: 100%;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  background: #ffffff;
  cursor: pointer;
  margin-bottom: 5px;
  color:#858796;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
}

.roomBoxMain {
  width: 100%;
  display: inline-block;
  width: 100%;
  border: 1px solid #cccccc;
  background: #ffffff;
  left: 0px;
  top: 35px;
}

.queryGroupData {
  padding: 5px 0px;
  margin: 0 0px;
  display: block;
  border-bottom: 1px solid #eeeeee;
  font-size: 13px;
  font-weight: bold;
  background: #f3f3f3;
}

.form-control-_1:focus{
  background-color: #fff !important;
  border-radius: .25rem !important;
  -webkit-border-radius: .25rem !important;
  -moz-border-radius: .25rem !important;
  -ms-border-radius: .25rem !important;
  -o-border-radius: .25rem !important;
}



  .btn_1.full-width.wishlist, a.btn_1.full-width.wishlist {
    border-color: #555;
    color: #fff;
}
.btn_1.full-width.wishlist, a.btn_1.full-width.wishlist {
    border-color: #555;
    color: #fff;
}
.btn_1.full-width, a.btn_1.full-width {
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 5px;
}
.btn_1, a.btn_1 {
    border: none;
    background: #1e4384;
    cursor: pointer;
    display: inline-block;
    padding: 15px 30px;
    color: #fff;
    text-align: center;
    transition: all .3s ease-in-out;
    border-radius: 3px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.sidebar{
  color:#000;
}

.btn_1{
  font-size: 1rem !important;
  height: calc(1.5em + .75rem + 2px);
}

.btn_1, .btn_map_in, a.btn_1, a.btn_map, a.btn_map_in {
    font-weight: 600;
    font-size: 1rem !important;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    line-height: 1;
}
.btn_1, a, a.btn_1 {
    -o-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    outline: 0;
    text-decoration: none;
}


html{
    scroll-behavior: smooth !important;
  }
  
  .travelerrght {
    width: 40%;
    display: inline;
    display: inline-block;
    float: right;
    height: 40px;
  }
  
  .st-btn-facebook{
    background-color: #0054a6;
    padding: 8px 12px;
    border-radius: 8% !important;
    -webkit-border-radius: 8% !important;
    -moz-border-radius: 8% !important;
    -ms-border-radius: 8% !important;
    -o-border-radius: 8% !important;
}
  
  .st-center{
    margin-top: 1rem;
  }
  
  .st-btn-twitter{
    background-color: #57a5f3;
    padding: 8px 14px;
    margin-left: 1rem !important;
    border-radius: 8% !important;
    -webkit-border-radius: 8% !important;
    -moz-border-radius: 8% !important;
    -ms-border-radius: 8% !important;
    -o-border-radius: 8% !important;
  }
  
  .st-label{
    color: #fff;
  }

  .st-btn-whatsaap{
    background-color: #25d366;
    padding: 8px 14px;
    width: 37%;
    text-align: center;
    border-radius: 5px !important;
    -webkit-border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    -ms-border-radius: 5px !important;
    -o-border-radius: 5px !important;
}

  .st-btn-whatsaap:hover {
    text-decoration: none;
  }

  .st-btn-email{
    background-color: #d42323;
    padding: 8px 14px;
    width: 28%;
    text-align: center;
    border-radius: 5px !important;
    -webkit-border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    margin-left: .5rem;
    -ms-border-radius: 5px !important;
    -o-border-radius: 5px !important;
}

  .st-btn-share{
    background-color: #9c9a9a;
    padding: 8px 14px;
    width: 28%;
    margin-left: .5rem;
    border-radius: 5px !important;
    text-align: center;
    -webkit-border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    -ms-border-radius: 5px !important;
    -o-border-radius: 5px !important;
}

 @media (max-width:600px)
{
  .css-80sfr0-ToastContainer{
    z-index:9999999999 !important;
}

.react-toast-notifications__container{
  z-index:9999999999 !important;
}
}

@media (max-width:394px)
{

.cl-ul{
  padding-left:0;
}
#sec-nd{
  font-size:.7rem;
}
.ht-li{
  margin-bottom:.5rem;
}
/* .secondary_nav.is_stuck{
  height: 80px;
} */
}

#sec-nd{
  cursor: pointer;
}


.react-tel-input input[type='text'], .react-tel-input input[type='tel']{
  background-color:#fff;
  box-shadow: none !important;
  border-top-right-radius: .35rem !important;
  border-bottom-right-radius: .35rem !important;
}