/* 






 */


:root {
  --d: 700ms;
  --e: cubic-bezier(0.19, 1, 0.22, 1);
  --font-sans: sans-serif;
  --font-serif: serif;
 }

.Marquee{
  line-height: 50px;
  white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
}

.flow{
  display: inline-block;
  animation: marquee 15s linear infinite;
  -webkit-animation: marquee 15s linear infinite;
}

@keyframes marquee {
  0%   { transform: translate(0, 0); -webkit-transform: translate(0, 0); -moz-transform: translate(0, 0); -ms-transform: translate(0, 0); -o-transform: translate(0, 0); }
  100% { transform: translate(-100%, 0); }
}

.fill:hover, .fill:focus {
box-shadow: inset 0 0 0 2em var(--hover);
}
.pulse:hover, .pulse:focus {
animation: pulse 1s;
box-shadow: 0 0 0 2em rgba(255, 255, 255, 0);
}
@keyframes pulse {
0% {
box-shadow: 0 0 0 0 var(--hover);
}
}
.close:hover, .close:focus {
box-shadow: inset -3.5em 0 0 0 var(--hover), inset 3.5em 0 0 0 var(--hover);
}
.raise:hover, .raise:focus { box-shadow: 0 0.5em 0.5em -0.4em var(--hover); transform: translateY(-0.25em); -webkit-transform: translateY(-0.25em); -moz-transform: translateY(-0.25em); -ms-transform: translateY(-0.25em); -o-transform: translateY(-0.25em);
}
.up:hover, .up:focus {
box-shadow: inset 0 -3.25em 0 0 var(--hover);
}
.slide:hover, .slide:focus {
box-shadow: inset 6.5em 0 0 0 var(--hover);
}
.offset {
box-shadow: 0.3em 0.3em 0 0 var(--color), inset 0.3em 0.3em 0 0 var(--color);
}
.offset:hover, .offset:focus {
box-shadow: 0 0 0 0 var(--hover), inset 6em 3.5em 0 0 var(--hover);
}
.fill {
--color: #a972cb;
--hover: #cb72aa;
}
.pulse {
--color: #ef6eae;
--hover: #ef8f6e;
}
.close {
--color: #ff7f82;
--hover: #ffdc7f;
}
.raise {
--color: #ffa260;
--hover: #e5ff60;
}
.up {
--color: #e4cb58;
--hover: #94e458;
}
.slide {
--color: #8fc866;
--hover: #66c887;
}
.offset {
--color: #19bc8b;
--hover: #1973bc;
}
.new--button {
color: #fffa65;
font-family: 'Nunito',sans-serif;
transition: 0.25s;
}
.new--button:hover, .new--button:focus {
  border: 2px solid;
border-color: var(--hover);
color: #fff;
}

.new--button {
background: none;
border:0;
font-size: 1.2rem !important;
line-height: 1;
padding: .5em .3em;
}
h1 {
font-weight: 400;
}
code {
color: #e4cb58;
font: inherit;
}


.page-content {
  display: grid;
  grid-gap: 1rem;
  padding: 1rem;
  max-width: 1024px;
  margin: 0 auto;
  font-family: var(--font-sans);
 }
@media (min-width: 600px) {
  .page-content {
    grid-template-columns: repeat(2, 1fr);
   }
 }
@media (min-width: 800px) {
  .page-content {
    grid-template-columns: repeat(4, 1fr);
   }
 }
.new--card {
  position: relative;
  display: flex;
  align-items: flex-end;
  margin-bottom: 1rem;
  overflow: hidden;
  padding: 1rem;
  width: 100%;
  text-align: center;
  color: whitesmoke;
  background-color: whitesmoke;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);
 }
@media (min-width: 600px) {
  .new--card {
    height: 300px;
   }
 }

 @media (min-width: 486px) {
  .new--card {
    height: 350px;
   }
 }

.new--card:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  pointer-events: none;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.009) 11.7%, rgba(0, 0, 0, 0.034) 22.1%, rgba(0, 0, 0, 0.072) 31.2%, rgba(0, 0, 0, 0.123) 39.4%, rgba(0, 0, 0, 0.182) 46.6%, rgba(0, 0, 0, 0.249) 53.1%, rgba(0, 0, 0, 0.320) 58.9%, rgba(0, 0, 0, 0.394) 64.3%, rgba(0, 0, 0, 0.468) 69.3%, rgba(0, 0, 0, 0.540) 74.1%, rgba(0, 0, 0, 0.607) 78.8%, rgba(0, 0, 0, 0.668) 83.6%, rgba(0, 0, 0, 0.721) 88.7%, rgba(0, 0, 0, 0.762) 94.1%, rgba(0, 0, 0, 0.790) 100%);
  transform: translateY(-50%);
  transition: transform calc(var(--d) * 2) var(--e);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -webkit-transition: transform calc(var(--d) * 2) var(--e);
  -moz-transition: transform calc(var(--d) * 2) var(--e);
  -ms-transition: transform calc(var(--d) * 2) var(--e);
  -o-transition: transform calc(var(--d) * 2) var(--e);
}
.new--card {
  background-size: 100% 100%;
 }

 .tour-type-icon-list{
   position: absolute;
   top:10px;
   opacity: 1;
   right: 10px;
   background:rgba(0, 0, 0, 0.1);
   z-index: 30;
   display: flex;
   transition:   all .3s;
   -webkit-transition:   all .3s;
   -moz-transition:   all .3s;
   -ms-transition:   all .3s;
   -o-transition:   all .3s;
}
 
 .new--card:hover  .tour-type-icon-list{
   opacity: 0;
 }



 .tour-type-icon-list li{
  padding: .3rem .5rem;
}

 .white{
   color:#fff;
 }

.new--content {
  position: relative;
  background: rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  transition: transform var(--d) var(--e);
  z-index: 1;
  -webkit-transition: transform var(--d) var(--e);
  -moz-transition: transform var(--d) var(--e);
  -ms-transition: transform var(--d) var(--e);
  -o-transition: transform var(--d) var(--e);
}
.new--content > * + * {
  margin-top: 1rem;
 }
.new--title {
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 1.2;
 }
.new--copy {
  font-family: var(--font-serif);
  transform: translateY(-31px) !important;
  margin-top: 0;
  -webkit-transform: translateY(-31px) !important;
  -moz-transform: translateY(-31px) !important;
  -ms-transform: translateY(-31px) !important;
  -o-transform: translateY(-31px) !important;
}
 .btnn { --offset: 10px; --border-size: 2px; display: block; position: relative; padding: .5em 2.5em; appearance: none; border: 0; font-size: 1.2rem !important; background: transparent; color: #fff; text-transform: uppercase; letter-spacing: 0.25em; outline: none; cursor: pointer; border-radius: 0; box-shadow: inset 0 0 0 var(--border-size) currentcolor; transition: background 0.8s ease; -webkit-transition: background 0.8s ease; -moz-transition: background 0.8s ease; -ms-transition: background 0.8s ease; -o-transition: background 0.8s ease;outline:none !important;
}
.btnn:hover {
background: rgba(100, 0, 0, .03);
}
.button__horizontal, .button__vertical { position: absolute; top: var(--horizontal-offset, 0); right: var(--vertical-offset, 0); bottom: var(--horizontal-offset, 0); left: var(--vertical-offset, 0); transition: transform 0.8s ease; will-change: transform; -webkit-transition: transform 0.8s ease; -moz-transition: transform 0.8s ease; -ms-transition: transform 0.8s ease; -o-transition: transform 0.8s ease;
}
.button__horizontal::before, .button__vertical::before {
content: '';
position: absolute;
border: inherit;
}
.button__horizontal {
--vertical-offset: calc(var(--offset) * -1);
border-top: var(--border-size) solid currentcolor;
border-bottom: var(--border-size) solid currentcolor;
}
.button__horizontal::before {
top: calc(var(--vertical-offset) - var(--border-size));
bottom: calc(var(--vertical-offset) - var(--border-size));
left: calc(var(--vertical-offset) * -1);
right: calc(var(--vertical-offset) * -1);
}
.button:hover .button__horizontal { transform: scaleX(0); -webkit-transform: scaleX(0); -moz-transform: scaleX(0); -ms-transform: scaleX(0); -o-transform: scaleX(0);
}
.button__vertical {
--horizontal-offset: calc(var(--offset) * -1);
border-left: var(--border-size) solid currentcolor;
border-right: var(--border-size) solid currentcolor;
}
.button__vertical::before {
top: calc(var(--horizontal-offset) * -1);
bottom: calc(var(--horizontal-offset) * -1);
left: calc(var(--horizontal-offset) - var(--border-size));
right: calc(var(--horizontal-offset) - var(--border-size));
}
.button:hover .button__vertical {
transform: scaleY(0);
}

.new--column{
  position: relative;
  width: 100%;
  padding-right: .75rem;
  padding-left: .75rem;
  flex: 0 0 25%;
  max-width: 25%;
}

@media all and (max-width:1000px)
{
  .new--column{
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
}

@media all and (max-width:768px)
{
  .new--column{
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media all and (max-width:768px)
{
  .new--column{
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media all and (max-width:485px)
{
  .new--column{
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media  (min-width: 100px) {
  .new--card:after {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
}
  .new--content {
    transform: translateY(calc(100% - 4.5rem));
    -webkit-transform: translateY(calc(100% - 4.5rem));
    -moz-transform: translateY(calc(100% - 4.5rem));
    -ms-transform: translateY(calc(100% - 4.5rem));
    -o-transform: translateY(calc(100% - 4.5rem));
}
  .new--content > *:not(.new--title) {
    opacity: 1;
    transform: translateY(1rem);
    transition: transform var(--d) var(--e), opacity var(--d) var(--e);
    -webkit-transform: translateY(1rem);
    -moz-transform: translateY(1rem);
    -ms-transform: translateY(1rem);
    -o-transform: translateY(1rem);
}
  .new--card:hover, .new--card:focus-within {
    align-items: center;
   }

  .new--card:after:hover {
    background-image:linear-gradient(to bottom,rgba(0,0,0,0)0%,rgba(0,0,0,0.009)11.7%,rgba(0,0,0,0.034)22.1%,rgba(0,0,0,0.072)31.2%,rgba(0,0,0,0.123)39.4%,rgba(0,0,0,0.182)46.6%,rgba(0,0,0,0.249)53.1%,rgba(0,0,0,0.320)58.9%,rgba(0,0,0,0.394)64.3%,rgba(0,0,0,0.468)69.3%,rgba(0,0,0,0.540)74.1%,rgba(0,0,0,0.607)78.8%,rgba(0,0,0,0.668)83.6%,rgba(0,0,0,0.721)88.7%,rgba(0,0,0,0.762)94.1%,rgba(0,0,0,0.790)100%);
    background-size:cover;
  }

  .new--card:hover:after, .new--card:focus-within:after {
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
  .new--content:hover {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
}
  .new--content:hover {
    opacity: 1;
    transform: translateY(0);
    transition-delay: calc(var(--d) / 8);
   }
  .new--card:focus-within:before, .new--card:focus-within:after, .new--card:focus-within .new--content, .new--card:focus-within .new--content > *:not(.new--title) {
    transition-duration: 0s;
   }
 }
