.info--p{
  display: none;
  opacity: 1;
  transition: all .5s;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -ms-transition: all .5s;
  -o-transition: all .5s;
}

#sign-in-dialog, .nice-select, .nice-select .list, a.grid_item .info {
	box-sizing:border-box
}

a.grid_item {
    display:block;
    margin-bottom:25px
  }

  .grid---content {
    position: absolute;
    bottom: 32px;
    left: 10%;
    height:unset;
    width: 80%;
    background: #000000b8;
    color: #fff;
    opacity: 1;
    overflow: hidden;
    padding: 15px;
    box-sizing: border-box;
}

.grid---content:hover{
  opacity: 0.99;
}

.grid---content:hover .info--p{
  opacity: 0.99;
  display:inherit;
}

.read-more{
  color: #000;
  background: #fff !important;
  padding: .5rem 1rem;
  margin-top: 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

  figure{
    overflow: hidden;
  }


