/* navbar */
.navbar {
  padding: 20px;
}

.navbar-default {
  transition: 500ms ease;
  background: transparent;
  -webkit-transition: 500ms ease;
  -moz-transition: 500ms ease;
  -ms-transition: 500ms ease;
  -o-transition: 500ms ease;
}

.navbar-default.scrolled {
  color: #fff;
}

@media (min-width: 992px)
{
  .navbar-default.scrolled {
    background-color: #fff;
    border-bottom: 2px solid #eee;

  }
}

.nodec{
  text-decoration: none !important;
}

.logo {
  height: 3vw;
  min-height: 24px;
  margin-left: 10px;
}

.nav-link {
  /* color: #000 !important; */
  font-size: 18px !important;
  font-weight: 700 !important;
  letter-spacing: 0.5px !important;
  margin-right: 15px !important;
  margin: 5px;
}



.nav-link:hover {
  color: #dc3545 !important;
}

.dropdown:hover>.dropdown-menu {
  display: block;
}

.dropdown-menu {
  background-color: rgba(255,255,255,0.8);
  margin: 0;
  padding: 0;
  width: 100%;
}

.dropdown .dropdown-menu a {
  color: #000; 
  text-decoration: none;
  border-bottom: 0.1px solid rgba(0,0,0,0.1);
}

.dropdown .dropdown-menu a:hover {
  color: #dc3545; 
  text-decoration: none;
  font-weight: bold;
}

.navbar-toggler {
  outline-width: 0;
  border: 0;
}

.navbar-nav {
  margin-top: 10px;
  background: #fff;
  /* width: fit-content; */
  margin: 10px 0 0 auto;
}

/* carousel */
#myCarousel img {
  height: 80vh;
}



.carousel-inner{
  max-width:99 !important;
}

.pic-bg{
  background-image: url(../../../../src/assets/img/slider_1.jpg);
  background-size: cover;
}

.btn-danger{
  color: #fff !important;
  background-color: #e74a3b !important;
  border-color: #e74a3b !important;
}

.srchList {
  color: #000;
}


.header-btn {
  color: #fff;
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  -o-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  background-color: #e74a3b;
  border-color: #e74a3b;
  -moz-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  -ms-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.img-wp{
  position: fixed;
  box-shadow: 0 2.1px 1.3px rgba(0, 0, 0, 0.044), 0 5.9px 4.2px rgba(0, 0, 0, 0.054), 0 12.6px 9.5px rgba(0, 0, 0, 0.061), 0 25px 20px rgba(0, 0, 0, 0.1);
  width: 57px;
  bottom: 18px;
  height: 57px;
  border-radius: 50%;
  margin-left: 14px;
  z-index: 99
}



.caption-wrapper {
  text-align: center;
}

.caption-wrapper p {
  color: #fff;
  font-weight: 300;
  margin: 10px 0 0;
  font-size: 18px;
}

.caption-wrapper h3 {
  color: #fff;
  font-size: 65px;
  margin: 0;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 20px;
}

@media (max-width:1200px)
{
  .caption-wrapper h3 {
    font-size: 40px;
  }
}

@media (max-width:767px)
{
  .caption-wrapper h3 {
    font-size: 30px;
  }
}

@media (max-width:500px)
{
  .caption-wrapper h3 {
    font-size: 25px;
  }
}

.form-inline input, .form-inline button { 
  height: 60px;
}

button {
  font-size: 30px !important;
}




@media all and (min-width:992px) {
  .caption-wrapper p {
    font-size: 35px ;
  }
  
  .navbar-dark .navbar-nav .nav-link{
    color: #fff;
    text-align: center;
  }

  .navbar-nav {
    padding-left: 0px;
    background: none;
    margin: 0;
  }
}

@media all and (max-width:992px)
{

  nav.navbar.navbar-default.navbar-expand-lg.navbar-dark.bg-none.fixed-top.scrolled{
    margin:0;
    padding: 0;
    background :#fff;
    border-bottom: 2px solid #eee;
  }

  .navbar-dark .navbar-nav .nav-link {
    color: #000 ;
    text-align: center;
  }


  .nav-nav{
    flex-grow: 1;
  }
}



.navbar-dark .navbar-toggler:focus{
  outline : none;
}

.nav-nav{
  display: flex;
    flex-direction: row;
    /* flex-grow: 1; */
    /* background: #fff; */
    /* align-items: end; */
    justify-content: space-between;
}

.navbar-default.scrolled div#navbarNavDropdown ul.navbar-nav.mr-lg-auto li.nav-item a{
  color: #000;
  text-align: center;
}

.navbar-default.scrolled div#navbarNavDropdown ul.navbar-nav.mr-lg-auto li.nav-item a div{
  color: #000;
  text-align: center;
}

.navbar-default.scrolled div#navbarNavDropdown ul.navbar-nav.hd-nav li.nav-item .hd-btn-1{
  border: 2px solid #e74a3b !important;
}

.navbar-default.scrolled button.navbar-toggler{
  filter: invert(1);
  -webkit-filter: invert(1);
}





@media (max-width: 332px) {
  ul.navbar-nav.mr-lg-auto{
    width: 100%;
    text-align:center;
    margin: 10px 0 0 0;
  }

  .hd-nav{
    width: 100% !important;
  }
}



.navbar-nav{
  background-color:none !important;
}


html {
  height: 100%;
}


.s01 {
  padding: 15px;
  width: 100%;
}

.s01 form {
  width: 100%;
  max-width: 1290px;
}



.s01 form .inner-form {
  /* background: rgba(0, 0, 0, 0.5); */
  padding: 50px 47px;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
}

.s01 form .inner-form .input-field {
  margin-right: 30px;
  height: 68px;
}

.s01 form .inner-form .input-field input {
  height: 100%;
  background: #fff;
  border-radius: 5px;
  border: 0;
  display: block;
  width: 100%;
  padding: 10px 32px;
  font-size: 20px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.s01 form .inner-form .input-field input.placeholder {
  color: #9a9a9a;
  font-size: 20px;
}

.s01 form .inner-form .input-field input:-moz-placeholder {
  color: #9a9a9a;
  font-size: 20px;
}

.s01 form .inner-form .input-field input::-webkit-input-placeholder {
  color: #9a9a9a;
  font-size: 20px;
}

.s01 form .inner-form .input-field input:hover, .s01 form .inner-form .input-field input:focus {
  box-shadow: none;
  outline: 0;
}

.s01 form .inner-form .input-field.first-wrap {
  -ms-flex-positive: 1;
      flex-grow: 1;
}

.s01 form .inner-form .input-field.second-wrap {
  width: 32.77%;
  min-width: 180px;
}

.s01 form .inner-form .input-field.third-wrap {
  width: 180px;
  margin-right: 0;
}

.s01 form .inner-form .input-field.third-wrap .btn-search {
  height: 100%;
  width: 100%;
  background: #e74a3b;
  white-space: nowrap;
  border-radius: 5px;
  font-size: 20px;
  color: #fff;
  transition: all .3s ease-out, color .2s ease-out;
  border: 0;
  cursor: pointer;
  -webkit-transition: all .3s ease-out, color .2s ease-out;
  -moz-transition: all .3s ease-out, color .2s ease-out;
  -ms-transition: all .3s ease-out, color .2s ease-out;
  -o-transition: all .3s ease-out, color .2s ease-out;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.s01 form .inner-form .input-field.third-wrap .btn-search:hover {
  background: #e32e1d;
}

@media screen and (max-width: 992px) {
  .s01 form legend {
    font-size: 50px;
    text-align: center;
    margin-bottom: 50px;
  }
  .s01 form .inner-form {
    padding: 30px 35px;
  }
  .s01 form .inner-form .input-field {
    height: 50px;
  }
}

@media screen and (max-width: 767px) {
  .s01 form legend {
    font-size: 40px;
    margin-bottom: 40px;
  }
  .s01 form .inner-form {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 20px;
  }
  .s01 form .inner-form .input-field {
    margin-right: 0;
  }
  .s01 form .inner-form .input-field input {
    padding: 5px 15px;
    font-size: 16px;
  }
  .s01 form .inner-form .input-field.first-wrap {
    width: 100%;
    margin-bottom: 20px;
  }
  .s01 form .inner-form .input-field.second-wrap {
    width: calc(50% - 10px);
    min-width: auto;
  }
  .s01 form .inner-form .input-field.third-wrap {
    width: calc(100%);
  }
  .s01 form .inner-form .input-field.third-wrap .btn-search {
    font-size: 16px;
  }
}

/* ================================= */

.hd-btn {
  border-radius: 4px;
  border: 2px solid white;
  color: #e74a3b;
  background: white;
  display: inline-block;
  margin: 0 0.25em;
  text-decoration: none !important;
  overflow: hidden;
  padding: 7px 60px 7px 1px;
  position: relative;
  text-decoration: none;
  line-height: 1;
}
.hd-btn .hd-btn-content {
  font-size: 1em;
  line-height: 1.2;
  padding: 0 15px;
  position: relative;
  right: 0;
  transition: right 300ms ease;
  display: block;
  text-align: left;
  -webkit-transition: right 300ms ease;
  -moz-transition: right 300ms ease;
  -ms-transition: right 300ms ease;
  -o-transition: right 300ms ease;
}
.hd-btn .icon {
  border-left: 1px solid #e74a3b;
  position: absolute;
  right: 0;
  text-align: center;
  top: 50%;
  transition: all 300ms ease;
  transform: translateY(-50%);
  width: 58px;
  height: 70%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
}
.hd-btn .icon i {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.hd-btn-1:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #e74a3b;
  opacity: 0;
  transition: opacity 300ms ease;
  -webkit-transition: opacity 300ms ease;
  -moz-transition: opacity 300ms ease;
  -ms-transition: opacity 300ms ease;
  -o-transition: opacity 300ms ease;
}
.hd-btn-2:after { content: ''; position: absolute; top: 0; bottom: 0; right: 0; left: 0; opacity: 0; transition: opacity 300ms ease; -webkit-transition: opacity 300ms ease; -moz-transition: opacity 300ms ease; -ms-transition: opacity 300ms ease; -o-transition: opacity 300ms ease;
}
.hd-btn:hover .hd-btn-content {
  right: 100%;
}
.hd-btn:hover .icon {
  border-left: 0;
  font-size: 1.8em;
  width: 100%;
}

.hd-btn.hd-btn-alt-color {
  border-color: #e74a3b;
  color: white;
  background: #e74a3b;
}
.hd-btn.hd-btn-alt-color:hover {
border-color: #e74a3b;
color: white;
background: #d52a1a;
}
.hd-btn.hd-btn-alt-color .icon {
  border-left-color: white;
}
.hd-btn.hd-btn-alt-color:after {
  background-color: white;
}

.hd-btn-1 .icon i{
  color: #e74a3b !important;
}

.hd-nav{
  background:none !important;
}

@media (max-width:992px)
{
  .hd-nav li{
    display : flex;
    flex-direction: column;
  }

  .hd-nav li a {
    margin-bottom: 10px;
  }

  .hd-btn{
    padding: 7px 36px 7px 1px;
  }

  .hd-btn .icon{
    width: 40px;
  }
}


/* .cr-img-gradient:after {
  content:'';
  position:absolute;
  left:0;
  top:0;
  width:100%;
  height:100%;
  display:inline-block;
  background: -moz-linear-gradient(top,rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0, 0, 0, 0.4)), color-stop(100%,rgba(0, 0, 0, 0.4)));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.4) 0%,rgba(0, 0, 0, 0.4) 100%);
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.4) 0%,rgba(0, 0, 0, 0.4) 100%);
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.4) 0%,rgba(0, 0, 0, 0.4) 100%);
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
}
.cr-img-gradient img{
  display:block;
} */

/* ------------------- */
::-webkit-scrollbar{
  width: 15px;
}

::-webkit-scrollbar-track{
  border: 2px solid #ddd;
}

::-webkit-scrollbar-thumb{

background: linear-gradient(-60deg, #16a085 0%, #f4d03f 100%);

  border-radius:3px;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  -ms-border-radius:3px;
  -o-border-radius:3px;
}

/* ------------------------------ */

::-moz-selection {
  color: white;
  background: #e74a3b;
}

::selection {
  color: white;
  background: #e74a3b;
}