#sign-in-dialog, .nice-select, .nice-select .list, .grid_item .info {
	box-sizing:border-box
}



@media (min-width: 768px)
{
.fig_home{
  height: 250px;
}
}



.grid_item {
    display:block;
    margin-bottom:25px
  }

  .grid_item .info {
    position: relative;
    width:100%;
    top: -90px;
    z-index:9;
    display:block;
    padding:25px 20px 5px;
    color:#fff;
    left:0;
    bottom:0;
    background:0 0;
    background:-webkit-linear-gradient(top, transparent, #000);
    background:linear-gradient(to bottom, transparent, #000);
    text-align:center;
  }
  .grid_item .info .cat_star {
    font-size:12px;
  font-size:.9625rem
  }
  .grid_item .info .cat_star i {
    color:#fff
  }
  .grid_item .info h3 {
    color:#fff;
    font-size:24px;
    font-size:1.525rem
  }
  .grid_item .info p {
    color:#fff;
    margin-bottom:0;
    font-size:15px;
  font-size:.9375rem
  }
  figure{
    overflow: hidden;
  }

  .img-fluid{
    transition: all .5s  ;
    -webkit-transition: all .5s  ;
    -moz-transition: all .5s  ;
    -ms-transition: all .5s  ;
    -o-transition: all .5s  ;
}

  .img-fluid:hover{
    transform:scale(1.3)  ;
    -webkit-transform:scale(1.3)  ;
    -moz-transform:scale(1.3)  ;
    -ms-transform:scale(1.3)  ;
    -o-transform:scale(1.3)  ;
}

  @media (max-width:1200px)
  {
    .grid_item .info {
      top: -13.2rem;
    }
  }

  @media (max-width:991px)
  {
    .grid_item .info {
      top: -7.3rem;
    }
  }

  @media (max-width:767px)
  {
    .grid_item .info {
      top: -7.3rem;
    }
  }

  @media (max-width:575px)
  {
    .grid_item .info {
      top: -17.3rem;
      padding-bottom: 5rem;
    }
  }

  @media (max-width:477px)
  {
    .grid_item .info {
      top: -12.3rem;
      padding-bottom: 5rem;
    }
  }

  @media (max-width:350px)
  {
    .grid_item .info {
      top: -10.3rem;
      padding-bottom: 5rem;
    }
  }

  @media (max-width:313px)
  {
    .grid_item .info {
      top: -9.3rem;
      padding-bottom: 4.2rem;
    }
  }

  @media (max-width:211px)
  {
    .grid_item .info {
      top: -8.3rem;
      padding-bottom: 3.4rem;
    }
  }

  @media (max-width:767px) {
    .grid_item figure {
      overflow: hidden;
    height:350px!important
    }
    }
    @media (max-width:575px) {
    .grid_item figure {
    height:220px!important
    }
    }
    .grid_item .read_more {
    position:absolute;
    top:30%;
    left:0;
    margin-top:-12px;
    -webkit-transform:translateY(10px);
    -moz-transform:translateY(10px);
    -ms-transform:translateY(10px);
    -o-transform:translateY(10px);
    transform:translateY(10px);
    text-align:center;
    opacity:0;
    visibility:hidden;
    width:100%;
    -webkit-transition:all .6s;
    transition:all .6s;
    z-index:2    ;
    -moz-transition:all .6s;
    -ms-transition:all .6s;
    -o-transition:all .6s;
}
    .grid_item .read_more span {
      background-color:#fcfcfc;
      background-color:rgba(255, 255, 255, .9);
      -webkit-border-radius:20px;
      -moz-border-radius:20px;
      -ms-border-radius:20px;
      border-radius:20px;
      display:inline-block;
      color:#222;
      font-size:12px;
    font-size:.75rem;
      padding:5px 10px
    }
    .grid_item:hover .read_more {
      opacity:1;
      visibility:visible;
      -webkit-transform:translateY(0);
      -moz-transform:translateY(0);
      -ms-transform:translateY(0);
      -o-transform:translateY(0);
      transform:translateY(0)
    }
    
    .grid_item .disable h3 {
      padding-top: 3rem;
  }

    .grid_item figure .score {
      position:absolute;
      top:15px;
      right:15px;
      z-index:9
    }
    .grid_item figure small {
      position:absolute;
      background-color:#000;
      background-color:rgba(0, 0, 0, .6);
      left:20px;
      top:22px;
      text-transform:uppercase;
      color:#ccc;
      font-weight:600;
      -webkit-border-radius:3px;
      -moz-border-radius:3px;
      -ms-border-radius:3px;
      border-radius:3px;
      padding:7px 10px 4px;
      line-height:1;
      z-index:9
    }
