.cbp_tmtimeline:before, .nice-select:after, a.box_news ul li:last-child:after {
	content:''
}

ul.cbp_tmtimeline {
	margin:45px 0;
	padding:0;
	list-style:none;
	position:relative
}

.p-title{
	font-size: 1.7rem;
	text-align: center;
}

@media (max-width: 1200px)
{
	.p-title{
		font-size: 1.5rem;
	}
}

@media (max-width: 900px)
{
	.p-title{
		font-size: 1.3rem;
	}
}

@media (max-width: 500px)
{
	.p-title{
		font-size: 1rem;
	}
}

#itinerary .container{
	color:#000;
}

#hotels{
	color:#000;
}

.cbp_tmtimeline:before {
	position:absolute;
	top:0;
	bottom:0;
	width:2px;
	background:#ebeef3;
	left:7.5%;
	margin-left:-2px
}
.cbp_tmtimeline>li {
	position:relative;
	
}
.cbp_tmtimeline>li .cbp_tmtime {
	display:block;
	width:23%;
	padding-right:80px;
	position:absolute;
}
.cbp_tmtimeline>li .cbp_tmtime span {
	display:block;
	text-align:right
}
.cbp_tmtimeline>li .cbp_tmtime span:first-child {
	font-size:.9em;
	color:#888;
	margin-bottom:0
}
.cbp_tmtimeline>li .cbp_tmtime span:last-child {
	font-size:18px;
	font-weight:500
}



.cbp_tmtimeline>li .cbp_tmlabel {
	margin:0 0 15px 16%;
	background:#eef3f7;
	padding:20px;
	position:relative;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	-ms-border-radius:5px;
	-o-border-radius:5px;
}

@media (max-width:1200px)
{
	.cbp_tmtimeline>li .cbp_tmlabel{
		margin:0 0 15px 19%;
	}
}

@media (max-width:992px)
{
	.cbp_tmtimeline>li .cbp_tmlabel{
		margin:0 0 15px 16%;
	}
}

.cbp_tmtimeline>li .cbp_tmlabel p {
	margin-bottom:0;
	font-size:13px;
font-size:.8125rem
}
.cbp_tmtimeline>li .cbp_tmlabel h4 {
	margin:0 0 5px;
	padding:0;
	font-size:16px;
	font-size:1rem
}
.cbp_tmtimeline>li .cbp_tmlabel:after {
	right:100%;
	border:solid transparent;
	content:" ";
	height:0;
	width:0;
	position:absolute;
	pointer-events:none;
	border-right-color:#eef3f7;
	border-width:10px;
	top:15px
}
.cbp_tmtimeline>li .cbp_tmicon {
	width:75px;
	height:75px;
	font-weight:500;
	background-color:#fff;
	text-transform:none;
	font-size:20px;
	font-size:1.2rem;
	line-height:75px;
	position:absolute;
	color:#e6200db5;
	border-radius:10%;
	box-shadow:0 0 0 2px #a79d9d;
	text-align:center;
	left:5.5%;
	top:0;
	margin:0 0 0 -25px;
	-webkit-border-radius:10%;
	-moz-border-radius:10%;
	-ms-border-radius:10%;
	-o-border-radius:10%;
}
@media screen and (max-width:65.375em) {
.cbp_tmtimeline>li .cbp_tmtime span:last-child {
font-size:1.5em
}
}
@media screen and (max-width:47.2em) {
.cbp_tmtimeline>li .cbp_tmlabel:after, .cbp_tmtimeline>li:nth-child(odd) .cbp_tmlabel:after {
border-right-color:transparent;
border-bottom-color:#eef3f7
}
.cbp_tmtimeline:before {
display:none
}

.nomargin, .nopadding {
	margin:0!important
}
.nopadding {
	padding:0!important
}
.cbp_tmtimeline>li .cbp_tmtime {
width:100%;
position:relative;
padding:0 0 20px
}
.cbp_tmtimeline>li .cbp_tmtime span {
text-align:left
}
.cbp_tmtimeline>li .cbp_tmlabel {
margin:0 0 30px;
padding:1em
}
.cbp_tmtimeline>li .cbp_tmlabel:after {
right:auto;
left:20px;
top:-20px
}
.cbp_tmtimeline>li .cbp_tmicon {
position:relative;
float:left;
left:6px;
margin:-65px 5px 0 0;
width:50px;
height:50px;
line-height:50px;
font-size:0.9em;
}
}

/* ------------------------------------- Timeline ---------------------------------*/

.hotel_day_cont {
	padding:0 2% 2% 2%!important;
	margin:0 0 1rem 0;
	position:relative;
	background:#fff !important;
	border:1px solid #e1e1e1 !important;
}
.hotel_day_cont:hover{
	padding:1%;
	position:relative;
	box-shadow: 0 0 7px 2px #ccc;
	border:1px solid #db3446 !important;
}
.hotel_day_cont h1{
	padding:.6em 0 .6em 0!important;
	margin:0;
	color:#666;
	font-size:14px !important;
	display:block;
	text-align:left;
}

.hotel_day_cont h1 span{
	border-bottom:none !important;
}
.hotel_day_cont h2{
	padding:0!important;
	margin:0;
	color:#666;
	font-size:18px !important;
}

.hotel_day_cont p{
	padding:1rem 0 0 0!important;
	margin:0;
	text-align:justify;
}

.hotel_day_cont h1 {
    padding: .6em 0 .6em 0!important;
    margin: 0;
    color: #666;
    font-size: 14px !important;
    display: block;
    text-align: left;
}

/* ----------------------- Packageday --------------------------*/
.mt-3, .my-3 {
    margin-top: 1rem!important;
}

.package_det_day_cont {
    padding: 0 0 2% 0;
    margin: 0;
    font-size: 24px;
    color: #444;
    position: relative;
    display: block;
    clear: both;
    overflow: hidden;
}

.package_det_day_cont_img {
    padding: 0 !important;
    margin: 0;
    width: 100% !important;
    position: relative;
}

.package_det_day_cont_img_caption {
    bottom: 0;
    left: 0;
    margin: 0;
    overflow: hidden;
    padding: 2% 3%;
    position: absolute;
    right: 0;
    text-align: center;
    width: 100%;
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.package_det_day_cont_img img {
    width: 100%;
    position: relative;
}

.package_det_day_cont h1 {
    padding: 7px 0 1% 0;
    margin: 0;
    display: block;
    font-size: 16px !important;
    line-height: 24px;
    color: #444 !important;
    text-transform: inherit;
    text-align: left;
}

.cbp_tmtimeline>li .cbp_tmlabel p {
    margin-bottom: 0;
    font-size: 13px;
    font-size: .8125rem;
}

.defaultcontent {
    font-size: 12px;
    text-transform: none;
    font-weight: normal;
}

.package_det_day_cont h1 span {
    padding: 0;
    margin: 2% 0 !important;
    font-size: 14px !important;
    line-height: 24px;
    color: #999 !important;
    text-transform: inherit;
    border-bottom: none;
}

.react-tel-input .flag-dropdown{
	border: none !important;

	background: none ;
	outline: none ;

}

.react-tel-input .selected-flag{
	border: 1px solid #d1d3e2;
	border-radius: none !important;
    background: none;
    outline: none;
}

.react-tel-input .selected-flag:focus{
	border: 1px solid #42bdff;
    background: none;
    outline: none;
}